{% extends 'base.html'%}
{% block title%} Url Shortner!
{% endblock %}

{% block main%}
<h1>Welcome to the Url Shortner</h1>


<!-- action is how it goes to the your-url html page -->
<form action="your-url" method="POST">
    <label for="url"> Website Url</label>
    <input type="url" name = "url" value="" required>
    <br>
    <label for="code"> short name</label>
    <input type="text" name = "code" value="" required>
    <br>
    <input type="submit" value="submit">

</form>

<form action="your-url" method="POST" enctype="multipart/form-data">
        <label for="file"> File: </label>
        <input type="file" name = "file" value="" required>
        <br>
        <label for="code"> short name</label>
        <input type="text" name = "code" value="" required>
        <br>
        <input type="submit" value="submit">
    
    </form>

    <!-- this is the list of the sessions keys that we have saved so far -->
    {% if codes %}
    <h2> Codes you have created</h2>
    <ul>
        {% for code in codes%}
        <a href="{{url_for('redirect_to_url', code=code)}}">
            <li>{{code}}</li>
        </a>
        {%endfor%}
    </ul>
    {% endif %}


    {% endblock %}